<ion-view title="{{trainStation.name}}">
    <ion-content class="has-header">
        <ion-list ng-if="isLoaded">
            <ion-item ng-repeat="train in trainList | orderBy:['minutesToTrain']" class="item row-no-padding" href="">
                <div class="row">
                    <div class="col-80">
                        {{train.line}}
                    </div>
                    <div class="col-20" style="text-align: right;">
                        {{train.minutesToTrain | number:0}} mins
                    </div>
                </div>
            </ion-item>
        </ion-list>     
    </ion-content>
</ion-view>